@{
	Layout = null;
}

@model BSS_WEB.Models.Report.Preparation.PreparationUnfitReportModel;
<link rel="stylesheet" href="@Url.Content("~/css/preparation/preparationUnfitPrint.css")" asp-append-version="true" />

<!DOCTYPE html>
<html lang="th">
<head>
	<meta charset="utf-8" />
	<title>พิมพ์รายการลงทะเบียน</title>

	<link href="~/css/bss-loading.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
	
	<!-- ===== Header Toolbar ===== -->
	<div class="top-toolbar">
		<div class="toolbar-left">
			<h3>Print Prepare Data</h3>
		</div>

		<div class="export-options">
			<label>
				<input type="radio" name="exportType" id="rdPdf" value="pdf" checked>
				PDF
			</label>

			<label style="margin-left: 15px;">
				<input type="radio" name="exportType" id="rdExcel" value="excel">
				Excel
			</label>

			<button type="button" class="btn-export" onclick="exportData()">
				Export
			</button>
		</div>
	</div>

	<hr />

	<!-- Title -->
	<div id="report-body" style="display:none;">

		<!-- Header -->
		<div class="container report-container">
			<h3>
				<span class="bold">@Model.ReportTitle</span>
			</h3>
			<div class="info-row">
				<div class="info-left">
					<span class="label">Supervisor :</span>
					<span class="value">@Model.ReportHeader.SupervisorName</span>
				</div>
				<div class="info-right">
					<span class="label">วันที่พิมพ์ :</span>
					<span class="value">@Model.ReportHeader.RegisterDate</span>
				</div>
			</div>

			<div class="info-row">
				<div class="info-left">
					<span class="label">ศูนย์ CCC :</span>
					<span class="value">@Model.ReportHeader.DepartmentName</span>
				</div>
				<div class="info-right">
					<span class="label">เครื่องจักร :</span>
					<span class="value">@Model.ReportHeader.MachineName</span>
				</div>
			</div>
		</div>

		<!-- Table -->
		<table>
			<colgroup>
				<col style="width:35px">
				<col>
				<col style="width:130px">
				<col style="width:170px">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th>ลำดับ</th>
					<th>บาร์โค้ดภาชนะ</th>
					<th>บาร์โค้ดรายห่อ</th>
					<th>บาร์โค้ดรายมัด</th>
					<th>Header Card</th>
					<th>ธนาคาร</th>
					<th>ศูนย์เงินสด</th>
					<th>ราคา</th>
					<th>วันเวลาเตรียม</th>
					<th>ผู้เตรียมธนบัตร</th>
				</tr>
			</thead>
			<tbody>

				@{
					int detail_index = 1;
				}

				@foreach (var reportDetail in Model.ReportDetail)
				{
					<tr>
						<td>@detail_index</td>
						<td>@reportDetail.BarcodeContainer</td>
						<td class="text-center">
							@reportDetail.BarcodeWrap
							@if (!string.IsNullOrEmpty(reportDetail.BarcodeWrap))
							{
								<br />
								<div class="barcode-wrapper-wrap"><img src="@reportDetail.BarcodeWrapImage" alt="Barcode" class="barcode-text" /></div>
							}
						</td>
						<td class="text-center">
							@reportDetail.BarcodeBundle
							@if (!string.IsNullOrEmpty(reportDetail.BarcodeBundle))
							{
								<br />
								<div class="barcode-wrapper-bundle"><img src="@reportDetail.BarcodeBundleImage" alt="Barcode" class="barcode-text" /></div>
							}
						</td>
						<td>@reportDetail.HeaderCard</td>
						<td>@reportDetail.InstitutionCode</td>
						<td>@reportDetail.CashCenterName</td>
						<td>@reportDetail.DenominationPrice</td>
						<td>@reportDetail.PreparaDateTime</td>
						<td>@reportDetail.PreparatorName</td>
					</tr>

					detail_index++;
				}

			</tbody>
		</table>

		<!-- Summary -->
		<div class="container report-container">
			<h3>
				<span class="bold">สรุปข้อมูลภาชนะ</span>
			</h3>
			<table class="table-summary">
				<thead>
					<tr>
						<th>บาร์โค้ดภาชนะ</th>
						<th>จำนวนมัดรวม</th>
						<th>จำนวนสถาบันการเงิน</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var summaryDetail in Model.ReportSummary.ReportSummaryDetail)
					{
						<tr>
							<td>@summaryDetail.BarcodeContainer</td>
							<td>@summaryDetail.TotalBundle</td>
							<td>@summaryDetail.TotalInstitution</td>
						</tr>
					}
					<tr>
						<td class="font-weight">
							รวมทั้งหมด:
						</td>
						<td>
							@Model.ReportSummary.TotalAllBundle
						</td>
						<td>
							@Model.ReportSummary.TotalAllInstitution
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">

				<div class="signature-wrapper">
					<div class="signature-box">
						<div class="title">ผู้เตรียมธนบัตร</div>

						<div class="line">
							<span>ลายเซ็น :</span>
							<span class="blank"></span>
						</div>

						<div class="line">
							<span>วันที่ :</span>
							<span class="blank"></span>
						</div>
					</div>

					<div class="signature-box">
						<div class="title">Supervisor</div>

						<div class="line">
							<span>ลายเซ็น :</span>
							<span class="blank"></span>
						</div>

						<div class="line">
							<span>วันที่ :</span>
							<span class="blank"></span>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>



	<div id="pdf-viewer-container" style="width: 100%; height: 92%;">		
		<iframe id="pdf-iframe" style="width: 100%; height: 100%; border: none; display: none;" title="pdfshowframe"></iframe>
	</div>


	<div class="print-toolbar">
		<button type="button" class="btn-back btn btn-secondary" onclick="goBack()">ย้อนกลับ</button>
		<button type="button" class="btn-print" onclick="printPage()">พิมพ์</button>
	</div>


	<div id="pageloading">
		<div class="loading-overlay">
			<div class="loading-box">
				<div class="custom-spinner"></div>
				<span class="loading-text">Loading...</span>
			</div>
		</div>
	</div>


	<input type="hidden" id="hdn-preparation-ids"
		   value="@(ViewBag.PreparationIds != null ? string.Join(",", ViewBag.PreparationIds) : "")" />

	<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>

	<script src="@Url.Content("~/js/helpers/bss-report-export.js")" asp-append-version="true"></script>
	<script src="@Url.Content("~/js/preparation/preparationUnfitPrint.js")" asp-append-version="true"></script>
	<script src="@Url.Content("~/lib/html2canvas/html2canvas.js")"></script>
	<script src="@Url.Content("~/lib/jspdf/jspdf.umd.min.js")"></script>
</body>
</html>